<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMISService">
                    <security>
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55555/MISService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMISService" contract="MISService.IMISService"
                name="WSHttpBinding_IMISService">
                <identity>
                    <dns value="eulei.com.MIS" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>